@import './variables.scss';

body {
  font-family: $font-main;
  background-color: $color-yellow;
  margin: 0;
  padding: 0;
  color: #333;
}

a {
  text-decoration: none;
  transition: color $transition;
}

button {
  border-radius: $border-radius;
  transition: background-color $transition, color $transition;
}
