@import url('https://fonts.googleapis.com/css2?family=Gwendolyn:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* cute artsy palette >w< */
$color-blue-light: #7BDFF2;
$color-blue-mint: #B2F7EF;
$color-yellow: #EFF7F6;
$color-green: #F5FDEC;
$color-pink-light: #F7D6E0;
$color-pink: #F2B5D4;
$color-pink-lighter: #FFE5ED;

/* additional cute variables */
$font-main: 'Montserrat', sans-serif;
$font-fancy: "Gwendolyn", cursive;
$border-radius: 8px;
$transition: 0.2s ease-in-out;
